body {
  @mixin no-padding {
    padding: 0;
  }
  @mixin no-margin {
    margin: 0;
  }

  @include no-margin;
  @include no-padding;

  #main-wrapper {
    @include no-margin;
    @include no-padding;
    text-align: center;

    .nav-title-wrapper {
      display: inline-flex;
      justify-content: space-between;
      width: 200px;
      margin: 10px;
      img {
        line-height: 50px;
      }

      .nav-title {
        line-height: 40px;
        display: inline-block;
      }
    }

    .waiting-wrapper {
      width: 100%;
      padding: 100px 0;
    }

    .student-list-wrapper {
      padding: 10px;

      .student-list {
        text-align: left;
        max-width: 200px;
        padding: 10px;
      }
    }
  }
}