body {
  @mixin no-padding {
    padding: 0;
  }
  @mixin no-margin {
    margin: 0;
  }

  @include no-margin;
  @include no-padding;

  #main-wrapper {
    @include no-margin;
    @include no-padding;
    text-align: center;

    .nav-title-wrapper {
      display: inline-flex;
      justify-content: space-between;
      width: 200px;
      margin: 10px;
      img {
        line-height: 50px;
      }

      .nav-title {
        line-height: 40px;
        display: inline-block;
      }
    }

    .waiting-wrapper {
      width: 100%;
      padding: 100px 0;
    }

    .form-wrapper {
      padding: 10px;
      min-width: 200px;
      display: flex;
      flex-wrap: wrap;

      .student-list-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .student-list {
          text-align: left;
          padding: 10px;
          min-width: 200px;
          width: 28%;
        }
      }
      .form-section {
        width: 72%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;

        .form-inputs-wrapper {
          width: 100%;
          min-width: 300px;

          .form-inputs {
            display: flex;
            flex-direction: column;

            .input-section {
              margin: 20px;
            }
            .input-param-wrapper {
              width: 100%;
              min-width: 200px;
            }
          }
        }
        .submit-button-section {
          padding: 20px 0;
        }
      }
    }
  }
}